.refresh_icon-enter-active {
  animation: rotateRefresh infinite 1000ms;
}

@keyframes rotateRefresh {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(359deg)
  }
}

.mark_viewed-enter-active {
  animation: markViewed infinite 2000ms;
}

@keyframes markViewed {
  from {
    filter: invert(0%);
  }
  50% {
    filter: invert(100%);
  }
  to {
    filter: invert(0%);
  }
}
