/* refresh_icon is in Genre component */
.refresh_icon-enter-active {
  animation: refreshColorChange infinite 1000ms;
}

@keyframes refreshColorChange {
  from {
    fill: #000;
  }
  50% {
    fill: #0f8713;
  }
  to {
    fill: #000;
  }
}

.mark_viewed-enter-active {
  animation: markViewed infinite 2000ms;
}

@keyframes markViewed {
  from {
    filter: invert(0%);
  }
  50% {
    filter: invert(100%);
  }
  to {
    filter: invert(0%);
  }
}
